.todo-item-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-left: 10px solid teal;
  background-color: lightblue;
  margin-top: 10px;
}

.remove-button {
c
}

.completed-button{
  border-radius: 2px;
  padding: 10px;
  border: 2px solid rgb(95, 95, 90);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 60%;
}
