.newTodo {
  background-color: rgb(50, 205, 140);
  padding: 10px;
  border: 0;
  margin-left: 10px;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 2px;
}